* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    border: 2px solid red;
}

@media (max-width: 1160px) {
    .container {
        width: 1040px;
        background-color: red;
    }
}

@media (max-widtth: 1060px) {
    .container {
        width: 940px;
        background-color: green;
    }
}

@media (max-width: 960px) {
    .container {
        width: 840px;
        background-color: yellow;
    }
}

@media (max-width: 860px) {
    .container {
        width: 740px;
    }
}

@media (max-width: 760px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 660px) {
    .container {
        width: 540px;
    }
}


@media (max-width: 560px) {
    .container {
        width: 440px;
    }
}

@media (max-width: 460px) {
    .container {
        width: 340px;
    }
}

@media (max-width: 360px) {
    .container {
        width: 240px;
    }
}

nav {
    background-image: url(/img/BG.png);
    background-size: 100%;
}

.header-nav {
    display: flex;
    align-items: end;
}

.header-nav h2 {
    margin: 0 15px;
}

.small-text {
    font-size: 15px;
    transition: .4s;
}

.small-text:hover {
    color: #F04037;
    cursor: pointer;
}

.bring-text {
    font-size: 35px;
    width: 350px;
}

.create {
    width: 427px;
    color: #696871;
}

.darkred {
    background-color: rgb(148, 44, 44);
    color: white;
    
}